---
import "../styles/Navigation.css"
const currentPath = Astro.url.pathname;
---

<header>
  <div class="logo">
    <p>dopis</p>
  </div>
 <a href="/" class={currentPath === '/' ? 'current' : ''}>Dashboard</a>
 <a href="/mails" class={currentPath === '/mails' ? 'current' : ''}>Mails</a>
 <a href="/newsletters" class={currentPath === '/newsletters' ? 'current' : ''}>Newsletters</a>
 <a href="/junk" class={currentPath === '/junk' ? 'current' : ''}>Junk</a>
 <a href="/settings" class={currentPath === '/settings' ? 'current' : ''}>Settings</a>
 
</header>
